[user]
	name = Matthias Wisniowski
	email = matthias.wisniowski@gmail.com
  signingkey = /Users/mwis/.ssh/id_ed25519
[merge]
	tool = diffconflicts
[mergetool]
	keepBackup = false
[mergetool "diffconflicts"]
	cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
[push]
	autoSetupRemote = true
[gpg]
  format = ssh
[gpg "ssh"]
	allowedSignersFile = /Users/mwis/.config/git/allowed_signers
[commit]
	gpgsign = true
	verbose = true
[rerere]
	enabled = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	ff = only
[alias]
	cleanup-squashed = "\\!merged=$(gh pr list --state merged --json headRefName | jq -r \".[].headRefName\" | grep -E \"^(feat|fix|hotfix)/\"); local=$(git branch --format=\"%(refname:short)\"); echo \"$merged\" | grep -F -x -f <(echo \"$local\") | xargs -r -I {} sh -c \"echo \\\"Deleting: {}\\\"; git branch -D {}\""
[init]
	defaultBranch = main
[fetch]
	prune = true
