snippet it "Jest it" b
it('${1:test description}', () => {
	${2:// TODO}
});
endsnippet

snippet desc "Jest describe" b
describe('${1:group description}', () => {
	it('${2:test description}', () => {
		${3:// TODO}
	});
});
endsnippet

snippet wait "Jest waitFor" b
await waitFor(() => ${VISUAL})
endsnippet

snippet wdyr "Why did you render" b
${1:`!p snip.rv = snip.basename.capitalize()`}.whyDidYouRender = {
	logOnDifferentValues: true
};
endsnippet
