snippet pl "Plugin template" b
Plugin '$1'
endsnippet

snippet let "Let" b
let $1 = $2
endsnippet

snippet sec "Section" b
""""""""""""""""""""""""""""""""""""""""
" ${1:section}
""""""""""""""""""""""""""""""""""""""""
$2
endsnippet

